# Estructuras y funciones

In [1]:
import pandas as pd

path = './content/online_retail.csv'
retail_data = pd.read_csv(path)

In [2]:
# Nombres de columnas
columns_names = retail_data.columns
print(columns_names)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [7]:
num_rows, num_columns = retail_data.shape
print('Número de filas', num_rows)
print('Número de columnas', num_columns)

shapes = retail_data.shape
print(shapes)

Número de filas 541909
Número de columnas 8
(541909, 8)

In [12]:
daily_sales = retail_data['Quantity']
print(daily_sales)
print(daily_sales[2])

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64
8

In [8]:
summary = retail_data.describe()
print(summary)

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [9]:
mean_value = daily_sales.mean()
print('La media es', mean_value)

La media es 9.55224954743324

In [15]:
median_value = daily_sales.median()
print('La mediana es', median_value)

La mediana es 3.0

In [16]:
sum_value = daily_sales.sum()
print('La suma total es', sum_value)

La suma total es 5176450

In [13]:
count_values = daily_sales.count()
print(count_values)

541909

In [17]:
import pandas as pd

daily_sales = pd.Series([10, 20, None, 40, 50])

# Suma de Quantity
total_sum = daily_sales.sum()
print("Suma de Quantity:", total_sum)

# Conteo de Quantity
count_values = daily_sales.count()
print("Conteo de Quantity:", count_values)

Suma de Quantity: 120.0
Conteo de Quantity: 4

In [19]:
retail_data.head(8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom